.container {
  text-align: center;
  font-size: larger;
  font-style: oblique;
  font-weight: 500;
}
.ant-space-item {
  height: 100%;
  width: 50%;
}
.ant-card-body {
  height: 100%;
  width: 100%;
}
.spacer {
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: stretch;
  height: calc(100vh - 19em);
}
